@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/alegreya-sans-v13-latin-regular.woff2') format('woff2'),
    url('../fonts/alegreya-sans-v13-latin-regular.woff') format('woff');
}

.app-header-avatar {
  border-radius: 0%;
  border: 0rem;
}

.app-header h1, .app-container h1 {
  text-transform: uppercase;
}

h1.post-title {
  text-transform: lowercase;
}

.app-header {
  text-transform: lowercase;
}

body {
  font-family: 'Alegreya Sans';
  font-size: 1.1em;
}

code {
  font-size: 0.9em;
}

hr {
  border: none;
  width: 60%;
  border-bottom: 2px solid #afbac4;
}

.posts-list-item-description {
  padding-left: 1em;
}